# https://wiki.fabricmc.net/zh_cn:tutorial:publishing_mods_using_github_actions
name: publish
on: [workflow_dispatch]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: setup Java
        uses: actions/setup-java@v2
        with:
          java-version: 21
      - name: exe
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew clean build
      - name: release
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: xennote
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          github-token: ${{ secrets.GAYHUB_TOKEN }}

          version-type: beta
          loaders: |
            fabric
            quilt